.main-search-container {
    display: flex;
    margin: 50px 50px;

    .search-form-field {
        width: 235px;
        height: 35px;
        background: #fff;
        border: none;
        border-radius: 20px;
    }
}
