* {
    button:hover {
        cursor: pointer;
    }
}

.main-search-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .today-menu-title {
        margin: 0;
    }

    .search-form-field {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 260px;
        height: 35px;
        background: #fff;
        border: none;
        border-radius: 20px;
        color: gray;
        padding: 5px 10px;

        input {
            border: none;
        }

        textarea:focus, input:focus {
            outline: none;
        }

        .search-form-btn {
            border: none;
            background: transparent;
            color: gray;
        }

        //TODO Finish it
        //.search-form-btn:focus{
        //    outline: gray;
        //}
    }
}
