<div class="favorite-items-container">

    <div class="item-tile"
         *ngFor="let item of items">

        <div class="images">
            <div class="favorite-item-img" [ngStyle]="{backgroundImage: item.imgUrl}">
            </div>
            <div class="favorite-rating-img" [ngStyle]="{backgroundImage: item.ratingImgUrl}">
            </div>
        </div>

        <div class="item-tile-content">
            <div class="info-item">
                <div class="meta">
                    <p>{{item.name}}</p>
                    <div class="rating-container">
                        <div *ngFor="let item of createRange(item.rating)">
                            <div class="favorite-img" [ngStyle]="{backgroundImage: 'url(assets/icons/ratings/star.png)'}">
                            </div>
                        </div>
                    </div>
                    <p>${{item.price}}</p>
                </div>
                <div class="favorite-btn-add-wrapper">
                    <button type="submit" class="favorite-btn-add">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
