* {
    button:hover {
        cursor: pointer;
    }
}

.favorite-items-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 20px;

    .item-tile {
        display: block;
        margin-right: 27px;

        .images {
            position: relative;
            display: flex;

            .favorite-item-img {
                position: relative;
                top: 70px;
                left: 50%;
                transform: translateX(-50%);
                width: 150px;
                height: 150px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                object-fit: cover;
                border-radius: 100px;
            }

            .favorite-rating-img {
                position: absolute;
                right: 4%;
                bottom: 30%;
                width: 30px;
                height: 30px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                object-fit: cover;
            }
        }

        .item-tile-content {
            display: flex;
            background: #fff;
            width: 250px;
            height: 150px;
            border-radius: 25px;
            padding: 20px;

            .info-item {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                margin-top: 80px;

                .meta {
                    p {
                        margin: 0 0 4px;
                    }

                    .rating-container {
                        display: flex;

                        .favorite-img {
                            width: 10px;
                            height: 10px;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            margin-right: 5px;
                            margin-bottom: 5px;
                        }
                    }
                }

                .favorite-btn-add-wrapper {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background: #fb9405;
                    border-radius: 50%;
                    align-items: center;

                    .favorite-btn-add {
                        display: flex;
                        background: transparent;
                        border: none;
                        color: #fff;
                    }
                }
            }
        }
    }

    //TODO Fix hover size
    //.item-tile:hover {
    //    background: #fff;
    //    -webkit-transform: scale(1.1);
    //    -ms-transform: scale(1.1);
    //    transform: scale(1.1);
    //    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    //    border-radius: 25px;
    //    height: 300px;
    //}
}
