<div class="user-info-container">
    <div class="user-notification-button-wrapper">
        <div class="user-notification-bell-image" [ngStyle]="{backgroundImage:'url(assets/icons/bell.png)'}"></div>
    </div>
    <div class="user-profile-image" [ngStyle]="{backgroundImage:'url(assets/icons/profile.png)'}"></div>
    <div class="user-profile-wrapper">
        <div class="user-profile-info">
            <p class="username-info">Artem</p>
            <p class="role-name-info">User</p>
        </div>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
</div>
