.main-sidenav-container {
    width: 100%;
    height: 100%;
    display: flex;

    .main-sidenav-elements {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100px;
        align-items: center;
    }

    .main-sidenav-button-container {
        margin: 35px 15px 15px;
        text-align: center;
        background: #fff;

        .home-sidenav-btn {
            background: #fb9405;
            width: 46px;
            height: 46px;
            display: flex;
            justify-content: center;
            align-items: center;

            .home-btn-icon {
                width: 20px;
            }
        }

        .sidenav-btn {
            background: #fff;
            box-shadow: none;

            mat-icon {
                color: black;
            }
        }

        .sidenav-btn:hover {
            background: #e9e9e9;
            color: #226fbe;
        }

    }
}
