<div class="main-sidenav-container">
    <div class="main-sidenav-elements">
        <div class="common-buttons">
            <div class="main-sidenav-button-container">
                <button mat-fab aria-label="Home Icon" class="home-sidenav-btn">
                    <a routerLink="/">
                        <img class="home-btn-icon" src="assets/icons/home.png"/>
                    </a>
                </button>
            </div>

            <div class="main-sidenav-button-container">
                <button mat-mini-fab aria-label="Message Icon" class="sidenav-btn">
                    <img class="menu-icon" src="assets/icons/menu/messenger.png"/>
                </button>
            </div>

            <div class="main-sidenav-button-container">
                <button mat-mini-fab aria-label="Wallet Icon" class="sidenav-btn">
                    <img class="menu-icon" src="assets/icons/menu/wallet.png"/>
                </button>
            </div>

            <div class="main-sidenav-button-container">
                <button mat-mini-fab aria-label="Favorite Icon" class="sidenav-btn">
                    <img class="menu-icon" src="assets/icons/menu/heart.png"/>
                </button>
            </div>

            <div class="main-sidenav-button-container">
                <button mat-mini-fab aria-label="List Icon" class="sidenav-btn">
                    <img class="menu-icon" src="assets/icons/menu/clipboard.png"/>
                </button>
            </div>

            <div class="main-sidenav-button-container">
                <button mat-mini-fab aria-label="Settings Icon" class="sidenav-btn">
                    <img class="menu-icon" src="assets/icons/menu/settings.png"/>
                </button>
            </div>
        </div>

        <div class="main-sidenav-button-container">
            <button mat-mini-fab aria-label="Exit Icon" class="sidenav-btn">
                <img class="menu-icon" src="assets/icons/menu/exit.png"/>
            </button>
        </div>
    </div>

</div>
