<mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav mode="side" opened style="border-right: none;">
        <div class="main-sidenav-elements">

            <div class="common-buttons">
                <div class="main-sidenav-button-container">
                    <button mat-fab aria-label="Home Icon" class="home-sidenav-btn">
                        <img class="home-btn-icon" src="assets/icons/home.png"/>
                    </button>
                </div>

                <div class="main-sidenav-button-container">
                    <button mat-mini-fab aria-label="Home Icon" class="sidenav-btn">
                        <mat-icon>messenger_outline</mat-icon>
                    </button>
                </div>

                <div class="main-sidenav-button-container">
                    <button mat-mini-fab aria-label="Home Icon" class="sidenav-btn">
                        <mat-icon>wallet_travel</mat-icon>
                    </button>
                </div>

                <div class="main-sidenav-button-container">
                    <button mat-mini-fab aria-label="Home Icon" class="sidenav-btn">
                        <mat-icon>eco</mat-icon>
                    </button>
                </div>

                <div class="main-sidenav-button-container">
                    <button mat-mini-fab aria-label="Home Icon" class="sidenav-btn">
                        <mat-icon>list_alt</mat-icon>
                    </button>
                </div>

                <div class="main-sidenav-button-container">
                    <button mat-mini-fab aria-label="Home Icon" class="sidenav-btn">
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>
            </div>

            <div class="main-sidenav-button-container">
                <button mat-mini-fab aria-label="Home Icon" class="sidenav-btn">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>

        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-main-block></app-main-block>
    </mat-sidenav-content>
</mat-sidenav-container>
