* {
    button:hover {
        cursor: pointer;
    }

    a:hover {
        cursor: pointer;
    }
}

.order-list-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;

    .menu-row {
        display: flex;
        justify-content: space-between;

        h2 {
            margin: 0;
        }

        .view-all-wrapper {
            display: flex;
            color: #fb9405;
            align-items: center;

            p {
                margin: 0;
            }

            .view-all-btn-wrapper {
                display: flex;
                justify-content: center;
                width: 25px;
                height: 25px;
                background: #fb9405;
                border-radius: 7px;
                align-items: center;
                margin-left: 10px;

                .view-all-btn {
                    display: flex;
                    background: transparent;
                    border: none;
                    color: #fff;
                }
            }
        }
    }

    .order-list-wrapper {

        .order-tile {
            padding: 8px;
            margin-top: 17px;
            display: flex;

            p {
                font-weight: bold;
            }

            .order-info {
                margin-left: 25px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                .order-title {

                    .cancel-order-link {
                        color: #fb9405;
                    }
                }

                .order-price-wrapper {
                    font-size: 17px;
                    margin-right: 15px;
                }
            }

            .order-img-button-wrapper {
                width: 100px;
                height: 75px;
                border-radius: 25px;
                background: pink;
                display: flex;
                justify-content: center;
                align-items: center;

                .order-img {
                    width: 60px;
                    height: 60px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    object-fit: cover;
                    border-radius: 100px;
                }
            }
        }

        .order-tile:hover {
            border-radius: 25px;
            box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
        }
    }

    .checkout-block {
        margin-top: 15px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        top: 100%;
        display: flex;
        justify-content: center;

        .checkout-btn-wrapper {
            display: flex;
            justify-content: center;
            width: 250px;
            height: 50px;
            border-radius: 25px;
            background: #fb9405;

            .btn-white::after {
                background-color: #fff;
            }

            .btn-animated {
                animation: moveInBottom 5s ease-out;
                animation-fill-mode: backwards;
            }

            @keyframes moveInBottom {
                0% {
                    opacity: 0;
                    transform: translateY(30px);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }

            .checkout-btn {
                background-color: transparent;
                border: none;
                color: #fff;
                font-weight: bold;
                font-size: 15px;
            }

            .checkout-btn:focus {
                outline: none;
            }
        }

        .checkout-btn-wrapper:link,
        .checkout-btn-wrapper:visited {
            text-transform: uppercase;
            text-decoration: none;
            padding: 15px 40px;
            display: inline-block;
            border-radius: 100px;
            transition: all .2s;
            position: absolute;
        }

        .checkout-btn-wrapper:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        .checkout-btn-wrapper:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

        .checkout-btn-wrapper {
            background-color: #fb9405;
            color: #777;
        }

        .checkout-btn-wrapper::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }

        .checkout-btn-wrapper:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

}
